@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>
<p>
    Thank you for registering. Please complete your registration with the comfirmatio request on your e-mail.
</p>

